* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 0 40px;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 60px;
  font-size: 26px;
}

.loading-message {
  text-align: center;
  margin-top: 60px;
  font-size: 26px;
}

@media screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
